-@ val title: String
-@ val headline: String = title
-@ val body: String
- import scala.collection.SortedMap

- 
  var tools: SortedMap[String, List[(String, String)]] = SortedMap()
  tools += ("Chunker" -> List(
      ("OpenNLP", "/chunker/opennlp")
  ))

  tools += ("Extraction" -> List(
      ("SRL", "/extractor/srl"),
      ("Ollie", "/extractor/ollie"),
      ("OpenParse", "/extractor/openparse"),
      ("Nesty", "/extractor/nesty"),
      ("R2A2", "/extractor/r2a2"),
      ("Relnoun", "/extractor/relnoun"),
      ("ReVerb", "/extractor/reverb")
  ))

  tools += ("Constituency Parser" -> List(
      ("OpenNLP", "/constituency/opennlp"),
      ("Stanford", "/constituency/stanford")
  ))

  tools += ("Dependency Parser" -> List(
      ("Malt", "/parser/malt"),
      ("Clear", "/parser/clear"),
      ("Deserialize", "/parser/deserialize")
  ))

  tools += ("POS Tagger" -> List(
      ("OpenNLP", "/postagger/opennlp"),
      ("Stanford", "/postagger/stanford")
  ))

  tools += ("Sentencer" -> List(
      ("OpenNLP", "/sentencer/opennlp")
  ))

  tools += ("SRL" -> List(
      ("Clear", "/srl/clear")
  ))

  tools += ("Stemmer" -> List(
      ("Morpha", "/stemmer/morpha"),
      ("Paice", "/stemmer/paice"),
      ("Porter", "/stemmer/porter"),
      ("English", "/stemmer/porter")
  ))

  tools += ("Tokenizer" -> List(
      ("OpenNLP", "/tokenizer/opennlp"),
      ("Stanford", "/tokenizer/stanford")
  ))

  tools += ("Other" -> List(
      ("DOT-ter", "/dotter")
  ))

!!!
html
  head
    title= title
    link(rel="stylesheet" href="/public/css/bootstrap.css")
    link(rel="stylesheet" href="/public/css/bootstrap-responsive.css")
    :css
      .head {
        font-weight: bold;
        width: 150px;
        border-width: 1px;
        border-style: solid;
        border-color: lightgrey;
        padding: 4px;
        margin-bottom: 0px;
      }
      .item {
        width: 144px;
        border-width: 1px;
        border-style: solid;
        border-color: lightgrey;
        padding: 4px;
        padding-left: 10px;
        margin-bottom: 0px;
      }
      table {
        border-width: 1px;
        border-spacing: 0px;
        border-style: outset;
        border-color: gray;
        border-collapse: collapse;
        background-color: white;
      }
      th {
        border-width: 1px;
        padding: 6px;
        border-style: inset;
        border-color: gray;
        background-color: PowderBlue;
        -moz-border-radius: 0px 0px 0px 0px;
      }
      td {
        border-width: 1px;
        padding: 6px;
        border-style: inset;
        border-color: gray;
        background-color: white;
        -moz-border-radius: 0px 0px 0px 0px;
      }
  body 
    div
      div(style="width: 200px; float: left;")
        - for ((category, tools) <- tools)
          .head= category
          - for ((tool, url) <- tools)
            .item
              a(href="#{url}/") #{tool}
        -#
      div(class="container")
        div(style="height: 20px")
        #content
          h1= headline
          !~~ body
